@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .mobile-nav-link {
    @apply relative cursor-pointer border-b-2 border-[#D1D1CF] pb-2 text-[15px] font-semibold leading-[18.29px] text-primary-main
  }

  .nav-link {
    @apply md:text-[#575858] md:dark:text-accent-secondary-eco md:px-2 md:text-[10.8px] lg:text-[14.41px] md:my-4 md:border-r-[0.5px] md:border-[#575858] lg:leading-[17.57px] xl:text-[18px] xl:leading-[21.94px] desktop:text-primary-main desktop:border-primary-main
  }

  .nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    background: theme('colors.primary-main');
    width: 50%;
    height: 1px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  .nav-link:hover::after {
    width: 100%;
    opacity: 1;
  }

  .btn-primary {
    @apply py-2 px-4s bg-accent-orange text-white font-semibold rounded-lg shadow-md hover:bg-accent-orange focus:outline-none focus:ring-2 focus:ring-accent-orange focus:ring-opacity-75;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .wheel.keen-slider {
    display: block;
    color: #fff;
    height: 100%;
    overflow: visible;
    width: 100%;
  }

  .wheel--perspective-right .wheel__inner {
    perspective-origin: calc(50% + 100px) 50%;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
  }

  .wheel--perspective-left .wheel__inner {
    perspective-origin: calc(50% - 100px) 50%;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
  }

  .wheel__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    transform-style: preserve-3d;
    height: 16%;
    width: 100%;
  }

  .wheel__slides {
    height: 100%;
    position: relative;
    width: 100%;
  }

  .wheel__shadow-top,
  .wheel__shadow-bottom {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.5) 100%
    );
    left: 0;
    height: calc(42% + 2px);
    width: 100%;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
    position: relative;
    margin-top: -2px;
    z-index: 5;
  }

  .wheel__shadow-bottom {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.9) 100%
    );
    margin-top: 2px;
    border-bottom: none;
    border-top: 0.5px solid rgba(255, 255, 255, 0.3);
  }

  .wheel__label {
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    margin-top: 1px;
    margin-left: 5px;
  }

  .wheel__slide {
    align-items: center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    height: 100%;
    width: 100%;
    position: absolute;
    justify-content: flex-end;
  }

  /* React slick */
  .slick-slider .slick-list .slick-track .slick-slide {
    width: auto !important;
    margin-right: 8px;
  }

}
